{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block content %}
<h1>Mon compte</h1>
Bienvenue {{ app.user.firstname}} dans votre compte.<br>
    C'est ici que vous allez pouvoir gerer toutes vos informations personelles.
{% endblock %}
